@font-face{
	font-family: "Poppins-Bold";
	src: url(../resources/fonts/poppins/Poppins-Bold.ttf);
}
@font-face{
	font-family: "Poppins-regular";
	src: url(../resources/fonts/poppins/Poppins-Regular.ttf);
}