body{
	margin: 0px;
}
.content-width{
	margin: 0 auto;
	background-color: grey;
	width: 100%;
	max-width: 1170px;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
header 